@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-Black";
  src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
  font-family: "Raleway-Bold";
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "Raleway-Medium";
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}

/* Color */

:root {
  --primary: #eebf00;
  --secondary: #232b3b;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway";
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .nav-trigger{
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

header.topbar {
  background: var(--secondary);
  color: var(--pure);
  font-family: "Raleway-Semibold";
  padding: 0.75rem 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

header.topbar .container .icons a {
  margin-right: 0.6rem;
}

header.topbar .container .auth .devider {
  padding: 1rem;
}

header.topbar .container .auth>div a {
  text-decoration: none;
  color: var(--pure);
}

header.topbar .container .auth>div img {
  margin-right: 0.35rem;
}

nav .top {
  padding: 1.55rem 0;
}

nav .top .container .call img,
nav .top .container .time img {
  margin-right: 0.75rem;
}

nav .top .container .call h5,
nav .top .container .time h5 {
  font-family: "Raleway-Black";
  margin-bottom: 0.25rem;
}

nav .top .container .call h6,
nav .top .container .time h6 {
  font-family: "Raleway-Medium";
  margin-bottom: 0.25rem;
  color: var(--ternary);
  letter-spacing: 0.055rem;
}

nav .navbar a {
  text-decoration: none;
  font-family: "Raleway-Semibold";
  color: var(--secondary);
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

nav .navbar a.active {
  background: var(--primary);
  color: var(--heaven);
}

nav .navbar a:hover {
  background: var(--primary);
  color: var(--heaven);
}

.magic-shadow {
  position: relative;
  background: var(--heaven);
}

.magic-shadow:after {
  content: '';
  display: block;
  width: 100%;
  height: 69px;
  position: absolute;
  background-image: url(../icons/shadow.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: -20px;
  z-index: -1;
}

.magic-shadow-sm {
  position: relative;
  background: var(--heaven);
}

.magic-shadow-sm:after {
  content: '';
  display: block;
  width: 100%;
  height: 69px;
  position: absolute;
  background-image: url(../icons/shadow-sm.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: -20px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  height: 600px;
  background-image: url(../images/hero.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero .container {
  position: relative;
}

.hero .container .welcome span {
  font-family: "Raleway-ExtraBold";
  margin-right: .5rem;
}

.hero .container h1 {
  font-family: "Raleway-ExtraBold";
  margin-bottom: .75rem;
  color: var(--secondary);
  font-size: 2.5rem;

}

.hero .container h1 span {
  color: var(--primary);
}

.hero .container p {
  font-family: "Raleway-Medium";
  width: 50%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.btn {
  padding: .75rem .75rem;
  border: 1px solid transparent;
  line-height: 0.8;
  border-radius: 4px;
  transition: all .3s ease;
}

.btn-primary {
  background: var(--primary);
  color: var(--heaven);
  outline: none;
}

.btn-primary:hover {
  background: var(--heaven);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-secondary:hover {
  background: var(--heaven);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.btn-secondary {
  background: var(--secondary);
  color: var(--heaven);
  outline: none;
}

.hero button:first-child {
  margin-right: .5rem;
}

.hero .container .hero__image img {
  position: absolute;
  top: -40px;
  right: 40px;
}

section {
  padding: 4rem 0;
}

section.top-products {
  background: var(--light);
}

.heading {
  text-align: center;
  font-family: "Raleway-Bold";
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 4rem;
}

.heading:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  background-image: url(../icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
}

section.top-products .food-slider .food-card {
  background: var(--heaven);
  padding: 1.5rem 0;
  border-radius: 4px;
  outline: none;
}

section.top-products .food-slider .food-card .product-image img {
  width: 80%;
  height: 200px;
  object-fit: contain;
  padding-bottom: 1rem;
}

hr {
  border: 1px solid var(--light);
  opacity: 0.8;
  margin: 1rem 0;
}

section.top-products .food-slider .food-card h2 {
  font-family: "Raleway-Bold";
  font-size: 1.3rem;
  margin-bottom: .35rem;
}

section.top-products .food-slider .food-card .price {
  font-family: "Raleway-Medium";
  color: var(--danger);
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

section.top-products .food-slider .food-card .stars img {
  margin-left: .25rem;
}

section.top-products .food-slider .food-card button {
  font-family: "Raleway-Medium";
  color: var(--secondary);
  border: 2px solid var(--primary);
  background: var(--heaven);
  border-radius: 4px;
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

section.top-products .food-slider .food-card button:hover {
  background: var(--primary);
  color: var(--heaven);
  transition: all .3s ease;
}

section.top-products .food-slider .food-card button img {
  background: var(--primary);
  padding: .50rem;
  margin-right: 1.2rem;
  height: 32px;
}

.slick-slide {
  margin: 0 27px;
}

.slick-List {
  margin: 0 -27px;
}

.top-products .container .slider .slider-btn {
  width: 30px;
  height: 30px;
  position: relative;
  background: var(--primary);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.top-products .container .slider .prev-btn {
  position: absolute;
  top: 46%;
  left: -3rem;
  z-index: 1;
}

.top-products .container .slider .next-btn {
  position: absolute;
  top: 46%;
  right: -3rem;
  z-index: 1;
}

.top-products .container .slider {
  position: relative;
}

.btn-wrapper {
  margin-top: 1.5rem;
}

.slick-track {
  padding: 1rem 0;
}

section.about-meal .container img {
  width: 85%;
}


.flex-1 {
  flex: 1;
}

section.about-meal h2 {
  font-family: "Raleway-Bold";
  color: var(--secondary);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.3;
}

section.about-meal p {
  font-family: "Raleway-Medium";
  color: var(--secondary);
  opacity: 90%;
  margin-bottom: 4rem;
  line-height: 1.7;
}

section.our-service {
  background: var(--light);
  position: relative;
  z-index: 0;
}

section.our-service .service-wrapper {
  margin-top: 6rem;
  margin-right: -2rem;
}

section.our-service .service-card {
  background: var(--heaven);
  text-align: center;
  position: relative;
  padding: 1rem;
  margin-right: 2rem;
}

section.our-service .service-card img {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

section.our-service .service-card h2 {
  margin-top: 4rem;
  font-family: "raleway-Bold";
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

section.our-service .service-card p {
  font-family: "Raleway";
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

section.time {
  background: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)), url(../images/salad-table.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.time .time-wapper {
  margin-right: -1rem;
  margin-bottom: 2rem;
}

section.time .time-wapper div {
  background: var(--primary);
  width: 150px;
  height: 150px;
  border-radius: 4px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.time .time-wapper span:first-child {
  color: var(--heaven);
  font-size: 2.5rem;
  font-family: "Raleway-SemiBold";
}

section.time .time-wapper span:last-child {
  color: var(--heaven);
  font-family: "Raleway";
}

.text-pure {
  color: var(--heaven);
}

section.blog {
  background: var(--light);
  position: relative;
  z-index: 0;
}

section.blog .container .blog-wrapper {
  margin-right: -2rem;
}

section.blog .container .blog-wrapper .card {
  margin-right: 2rem;
}

section.blog .container .blog-wrapper .card img {
  width: 100%;
}

section.blog .container .blog-wrapper .card h2 {
  font-family: "Raleway-Bold";
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

section.blog .container .blog-wrapper .card p {
  line-height: 1.5rem;
}

section.blog .container .blog-wrapper .card .card-content {
  padding: 2rem;
  background: var(--heaven);
  border-radius: 4px;
}

section.blog .container .blog-wrapper .card .card-content .post-meta {
  margin-bottom: 1rem;
}

section.blog .container .blog-wrapper .card .card-content .post-meta .comment-count {
  margin-left: 1rem;
}

section.subscribe {
  background: var(--primary);
}

section.subscribe .container>div:first-child img {
  width: 90%;
}

section.subscribe .container div:first-child {
  flex: 1;
}

section.subscribe .container div:last-child {
  flex: 1;
}

section.subscribe h2 {
  font-size: 2rem;
  font-family: "Raleway-Bold";
  margin-bottom: 2rem;
}

section.subscribe p {
  margin-bottom: 1rem;
  font-family: "Raleway-Medium";
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

section.subscribe .button-wrapper {
  background: var(--heaven);
  padding: 0.3rem;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
}


section.subscribe .button-wrapper input {
  width: 100%;
  padding: 0 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

section.subscribe .button-wrapper button {
  background: var(--primary);
  padding: 0.8rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  transition: all .3s ease;
  cursor: pointer;
}

section.subscribe .button-wrapper button:hover {
  background: var(--secondary);
  color: var(--heaven);
}

section.contact-us {
  padding-top: 0;
  padding-bottom: 0;
}

section.contact-us .contact-info-wrapper {
  padding: 4rem 0;
  flex: 1;
}

section.contact-us .map {
  flex: 1;
  filter: grayscale(100%);
}

section.contact-us .contact-info {
  display: flex;
  justify-content: center;
}

section.contact-us .contact-info>div>div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

section.contact-us .contact-info>div>div img {
  margin-right: 1rem;
}

section.contact-us .contact-info>div>div>div {
  display: flex;
  flex-direction: column;
}

section.contact-us .contact-info>div>div>div span:first-child {
  font-family: "Raleway-Bold";
  margin-bottom: .25rem;
}

footer {
  background: var(--footer);
}

footer .container {
  display: flex;
  color: var(--light);
}

footer .box {
  flex: 1;
  margin-right: 2rem;
  text-align: center;
  margin-top: 2rem;
}

footer .instagram-api img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .box p {
  margin-top: 1rem;
  font-size-adjust: 1rem;
}

footer .box button {
  margin-top: 1rem;
}

footer .box ul {
  list-style: none;
}

footer .box ul li a {
  text-decoration: none;
  color: var(--heaven);
  transition: all .3s ease;
}

footer .box ul li a:hover {
  color: var(--primary);
}

footer .box h3 {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

footer .box p {
  line-height: 1.6;
}

footer .box ul li {
  margin-bottom: 1rem;
}

footer .box:nth-child(3) {
  text-align: left;
}

footer .box:nth-child(3) h3 {
  text-align: center;
}

footer .box:nth-child(3) img {
  margin-right: 1rem;
}

footer .box:nth-child(3) ul li {
  margin-bottom: 1rem;
}

footer .instagram-api .post-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .instagram-api .post-wrapper>div {
  width: calc(1/3*100% - (1 - 1/3)*10px);
  margin-bottom: 10px;
}

footer.copyright {
  background: var(--secondary);
  padding: 1rem 0;
  color: var(--pure);
  font-family: "Raleway-Medium";
}

footer.copyright h3 {
  font-size: 1.5rem;
}

footer.copyright a {
  color: var(--primary);
  text-decoration: none;
}

.site-content-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.nav-background {
  width: 100%;
  height: 100vh;
  background: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
}

.nav-trigger svg {
  width: 40px;
  height: 40px;
}

.site-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--heaven);
  z-index: 2;
  transition: all .3s ease;
}

.site-content-wrapper.scaled {
  transform: scale(0.9) translateX(90%);
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 var(--secondary);
}

.site-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
}
/* <=====Mobile Responsive=====> */


@media (max-width:720px) {
  header.topbar {
    display: none;
  }

  nav .top {
    display: none;
  }

  .nav-background .mobile-logo {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .nav-background .mobile-cart {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .nav-background .mobile-cart img {
    width: 20px;
    margin-right: 1rem;
  }

  .nav-background .mobile-cart a {
    text-decoration: none;
    font-family: "Raleway-Bold";
    font-size: 1rem;
    color: var(--secondary);
  }

  .nav-top {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .nav-top ul li {
    display: flex;
    flex-direction: column;

  }

  .nav-top ul li a {
    text-decoration: none;
    margin-bottom: 1rem;
    color: var(--secondary);
  }

  .mobile-phone,
  .mobile-time {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-phone img,
  .mobile-time img {
    margin-right: 1rem;
  }

  .site-content .hero .hero__image {
    position: absolute;
    top: 190px;
    right: -280px;
  }

  .site-content .hero .container {
    padding-left: 1rem;
  }

  .site-content .hero {
    margin-top: -2rem;
  }

  .top-products .slider-btn {
    display: none !important;
  }

  .about-meal .about-meal-wrapper {
    flex-direction: column;
  }

  .about-meal .about-meal-wrapper img {
    width: 100%;
  }

  .our-service .service-wrapper {
    flex-direction: column;
  }

  .our-service .service-wrapper .service-card {
    margin-bottom: 4rem;
  }

  .blog .blog-wrapper {
    flex-direction: column;
  }

  .blog .blog-wrapper .card {
    margin-bottom: 2rem;
  }
  .subscribe .container{
    flex-direction: column;
  }
  section.contact-us{
    flex-direction: column;
  }
  footer .container{
    flex-direction: column;
  }
  footer .container .box{
    text-align: left;
  }
  footer .container .box:nth-child(3)>div{
    display: block;
    text-align: left;
  }
  footer .container .box:nth-child(3) h3{
    display: block;
    text-align: left;
  }
  footer .instagram-api .post-wrapper>div {
    width: calc(1/2*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
  }
}